**/.git
**/.gitignore
**/.vs
**/.vscode
**/bin
**/obj
**/*.db
**/*.db-shm
**/*.db-wal
**/node_modules
**/wwwroot/lib
**/.DS_Store
**/Thumbs.db
README.md
docker-compose.yml
Dockerfile
.dockerignore
